<div style="background-color: #EEF; width: 600px; height: 500px; padding: 16px; margin: 16px auto; box-shadow: 4px 4px 8px rgba(0,0,0,0.2)">
  <h1 style= "border-bottom: solid 1px #EFE">Edit a Flat</h1>
  <%= render 'form', flat: @flat %>
</div>
